/bin
/vendor
/vendor.pb
/vendor.protogen
.DS_STORE
.DS_Store
/.idea
/.vscode
/cover.html
/cover.out
/cover.svg
/cart/vendor.protogen/
/loms/pgdata
bin/
.env
coverage.out
vendor-proto
primary_data
replica_data
archive
kafka_data
shard0_data
shard1_data
redis_data
