# Project settings
PROJECT_DEBUG=true
PROJECT_NAME="Cart"
PROJECT_ENVIRONMENT="development"

# Server
SERVER_HOST="0.0.0.0"
SERVER_PORT="8082"

# ProductService
PRODUCT_SERVICE_APIURI="http://route256.pavl.uk:8080"
PRODUCT_SERVICE_TOKEN="testtoken"
PRODUCT_SERVICE_MAX_RETRIES=3

# LomsService
LOMS_SERVICE_HOST="0.0.0.0"
LOMS_SERVICE_PORT="50051"

# Jaeger
JAEGER_URI="localhost:4318"